<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="serviceFacade" class="com.cours.allo.docteur.service.ServiceFacade"/>
	<bean id="UtilisateurDao" class="com.cours.allo.docteur.dao.impl.UtilisateurDao"/>
    <bean id="AdresseDao" class="com.cours.allo.docteur.dao.impl.AdresseDao"/>
</beans>